.about {
  background-color: $background-alice-blue;
}

.about__container {
  position: relative;
}

.about__year {
  position: absolute;
  top: 50px;
  left: -60px;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);

  font-family: $ff-roboto;
  font-style: bold;
  font-weight: 700;
  font-size: 156px;
  line-height: 220px;
  background: url("../img/background-year.webp"), $color-deep-sky-blue;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color-default-white;

  @include vp-767() {
    display: none;
  }

  @include retina {
    background: url("../img/background-year@2x.webp"), $color-deep-sky-blue;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include retina-vp-767() {
    display: none;
  }
}

.about__wrapper {
  padding: 0 0 120px 200px;

  @include vp-767() {
    padding: 0 0 80px;
  }
}

.about__wrapper p {
  padding-bottom: 30px;

  :last-child {
    padding-bottom: 45px;
  }

  @include vp-767() {
    font-size: 14px;
    line-height: 19px;
  }

  @include vp-1023() {
    padding-bottom: 20px;
  }



  &.is-active {
    display: none;
  }
}

.about h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  font-family: $ff-roboto;
  color: $color-default-black;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  @include vp-1023 {
    font-size: 28px;
    line-height: 40px;
  }
}

.about__button {
  width: fit-content;
  min-width: 180px;
}
