.about {
  background-color: $background-alice-blue;
}

.about__container {
  position: relative;
}

.about__year {
  position: absolute;
  top: 50px;
  left: -30px;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
  width: 320px;

  font-family: $ff-roboto;
  font-style: bold;
  font-weight: 700;
  font-size: 156px;
  line-height: 210px;
  background: url("../img/background-year.webp"), $color-deep-sky-blue;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color-default-white;

  @include vp-1023() {
    left: -22px;
    top: 60px;
  }

  @include vp-767() {
    display: none;
  }

  @include retina {
    background: url("../img/background-year@2x.webp"), $color-deep-sky-blue;
    width: 320px;
    min-height: 115px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
  }

  @include retina-vp-767() {
    display: none;
  }
}

.about__wrapper {
  padding: 0 0 120px 250px;

  @include vp-1023() {
    padding: 0 0 85px 176px;
  }

  @include vp-767() {
    padding: 0 0 75px;
  }
}

.about__wrapper p {
  padding-bottom: 25px;

  :last-child {
    padding-bottom: 45px;
  }

  @include vp-767() {
    font-size: 14px;
    line-height: 19px;
  }

  @include vp-1023() {
    padding-bottom: 20px;
  }

  &.is-active {
    display: none;
  }
}

.about__wrapper span {
  @include vp-767() {
    &.is-active {
      display: none;
    }
  }
}

.about h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  font-family: $ff-roboto;
  color: $color-default-black;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  @include vp-767() {
    font-size: 28px;
    line-height: 40px;
  }
}

.about__button {
  width: fit-content;
  min-width: 180px;
  margin-top: 19px;

  @include vp-1023() {
    margin-top: 5px;
  }

  @include vp-767() {
    margin-top: -10px;
    min-width: 160px;
  }
}
