.advantages {
  background-color: $background-alice-blue;
}

.advantages ul {
  list-style-type: none;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;

  @include vp-1023() {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include vp-767() {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    padding-bottom: 45px;
    column-gap: 32px;
  }
}

.advantages li {
  padding: 40px;
  min-height: 300px;
  border: 1px solid $color-default-grey;
  border-left: 4px solid $color-deep-sky-blue;
  transition: background-color 500ms ease;

  @include hover-focus {
    background-color: $color-deep-sky-blue;

    & svg {
      color: $color-default-white;
    }

    & h3 {
      color: $color-default-white;
    }

    & p {
      color: $color-default-white;
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $color-default-black;

    @include vp-767() {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @include vp-1023() {
    padding-bottom: 25px;
  }

  @include vp-767() {
    padding: 28px 25px 20px;
    min-height: 335px;

    &:last-child {
      min-height: 325px;
    }
  }
}

.advantages h3 {
  font-style: normal;
  font-weight: 400;
  font-family: $ff-roboto;
  font-size: 24px;
  line-height: 20px;
  color: $color-deep-sky-blue;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  @include vp-1023() {
    font-size: 24px;
    line-height: 32px;
    margin-top: -15px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }


  @include vp-767() {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 15px;
  }
}

.advantages svg {
  width: 35px;
  height: 60px;
  padding-bottom: 20px;
  color: $color-deep-sky-blue;

  @include vp-767() {
    padding: 0;
    margin-bottom: 30px;
    display: block;
    width: 32px;
    height: 32px;
  }
}
