.btn {
  display: block;
  padding: 12px 20px;

  color: $color-default-white;
  font-family: $ff-roboto;
  font-style: bold;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  background-color: $color-deep-sky-blue;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--black {
    background-color: $color-default-black;
    color: $color-default-white;
    border: none;
  }

  &--menu-black {
    background-color: $color-default-black;
    color: $color-default-white;
    border: 1px solid $color-default-white;
    line-height: 16px;
    padding: 10px 15px;
  }

  &--white {
    background-color: $color-default-white;
    color: $color-deep-sky-blue;
    border: $color-deep-sky-blue 1px solid;
  }

  &--intro {
    padding: 17px 30px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    font-weight: 700;

    .intro__mobile-description {
      display: none;
    }

    @include vp-767() {
      font-size: 14px;
      padding: 8px 37px;
      .intro__description {
        display: none;
      }
      .intro__mobile-description {
        display: block;
      }
    }
  }

  &--form {
    padding: 15px 25px;
    font-size: 18px;
    line-height: 21px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
