.container {
  width: 100%;
  max-width: $vp-1280 - $gap-md - $gap-md;
  margin: 0 auto;
  padding: 0;

  @include vp-1023 {
    padding-left: $gap-md;
    padding-right: $gap-md;
  }

  @include vp-767 {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
  }
}
