.footer {
  background-color: $color-default-black;
  padding-bottom: 35px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  max-width: $vp-1280 - $gap-sm - $gap-sm;
  margin: 0 auto;
  column-gap: 165px;

  @include vp-1023() {
    flex-direction: column;
    max-width: $vp-1024;
    padding: 0 $gap-l;
  }

  @include vp-767() {
    padding: 0;
  }
}

.footer__logo-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023() {
    width: 100%;
    padding: 50px 0 38px;
  }

  @include vp-767() {
    padding: 35px 0 25px;
  }
}

.footer__sub-container {
  display: flex;
  column-gap: 120px;

  @include vp-1023() {
    flex-direction: row;
    width: 100%;
  }

  @include vp-767() {
    flex-direction: column;
    width: 100%;
  }
}

.footer__navigation-wrapper {
  @include vp-1023() {
    padding: 0;
  }
  @include vp-767() {
    flex-basis: 100%;
  }
}

.footer__address-wrapper {
  @include vp-1023() {
    padding: 0;
  }
  @include vp-767() {
    flex-basis: 100%;
  }
}
