.footer-navigation {
  display: flex;
  flex-shrink: 0;
  position: relative;
  list-style-type: none;
  flex-direction: column;
  border: none;
  padding: 57px 0;

  width: 580px;

  @include vp-1023() {
    width: 250px;
  }

  @include vp-767() {
    width: 100%;
    border-bottom: 1px solid $color-semi-transperent;
    padding: 0 $gap-sm;
  }
}

.footer-navigation__list {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  // grid-template-rows: repeat(4, auto);
  // grid-auto-flow: column;
  width: fit-content;
  max-height: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 10px;
  column-gap: 40px;
  align-content: flex-start;

  @include vp-1023() {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-height: fit-content;
    max-width: 230px;
    row-gap: 0;
  }

  @include vp-767() {
    &.is-deactivate {
      display: none;
    }
  }
}

.footer-navigation__list li {
  max-width: 60%;

  &:nth-child(-n + 4) {
    max-width: 210px;
  }

  @include vp-1023() {
    width: auto;
    margin-bottom: 9px;
  }
}

.footer-navigation__header {
  margin-bottom: 20px;
  font-weight: 400;
  font-style: normal;

  @include vp-767() {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

.footer-navigation__accordeon-button {
  display: none;

  @include vp-767() {
    margin: 0;
    padding: 0;
    top: -25px;
    left: calc(100% - 15px);
    display: block;
    position: relative;
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
  }
}

.footer-navigation__button-sign {
  display: block;
  width: 15px;
  height: 1px;
  background-color: $color-silver;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    transform: rotate(90deg);
    background-color: $color-silver;
    transition: transform 500ms ease;
  }

  &.is-lost {
    &::before {
      transform: rotate(0deg);
    }
  }
}
