.footer-navigation {
  display: grid;
  grid-template-columns: 220px auto;
  position: relative;
  column-gap: 30px;
  margin-right: 30px;
  list-style-type: none;
  border: none;
  padding: 57px 0;

  @include vp-1023() {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0;
  }

  @include vp-767() {
    width: 100%;
    border-bottom: 1px solid $color-semi-transperent;
    padding: 0 $gap-sm;
  }
}

.footer-navigation__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-1023() {
    margin-bottom: 10px;
  }
  @include vp-767() {
    &.is-deactivate {
      display: none;
    }
  }
}

.footer-navigation__additional-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include vp-767() {
    &.is-deactivate {
      display: none;
    }
  }
}

.footer-navigation__header {
  min-height: 15px;
  font-weight: 400;
  font-style: normal;
  grid-column: 1 / -1;

  @include vp-1023() {
    margin-bottom: 8px;
  }


  @include vp-767() {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

.footer-navigation__accordeon-button {
  display: none;

  @include vp-767() {
    margin: 0;
    padding: 0;
    top: -25px;
    left: calc(100% - 15px);
    display: block;
    position: relative;
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
  }
}

.footer-navigation__button-sign {
  display: block;
  width: 15px;
  height: 1px;
  background-color: $color-silver;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    transform: rotate(90deg);
    background-color: $color-silver;
    transition: transform 500ms ease;
  }

  &.is-lost {
    &::before {
      transform: rotate(0deg);
    }
  }
}
