.footer {
  background-color: $color-default-black;
  padding-bottom: 35px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  max-width: $vp-1024;
  margin: 0 auto;

  @include vp-767() {
    flex-direction: column;
  }
}

.footer__logo-wrapper {
  width: 33.33%;
  padding-top: 50px;

  @include vp-767() {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 35px;
  }
}

.footer__sub-container {
  width: 66.67%;
  display: flex;

  @include vp-767() {
    flex-direction: row;
    width: 100%;
  }

  @include vp-374() {
    flex-direction: column;
    width: 100%;
  }
}

.footer__navigation-wrapper {
  flex-basis: 50%;

  @include vp-374() {
    flex-basis: 100%;
  }
}

.footer__address-wrapper {
  flex-basis: 50%;

  @include vp-374() {
    flex-basis: 100%;
  }
}
