.form {
  position: relative;
  background: url("../img/paper-plane.webp") no-repeat,
    url("../img/form-background-desktop.webp") no-repeat;
  background-size: 510px 285px, cover;
  background-position: calc(40% - 300px) calc(40%), center;
  position: relative;
  z-index: 1;

  @include vp-767() {
    background: $color-deep-sky-blue;
  }
}

.form__wrapper {
  padding-top: 170px;
  padding-left: 40%;
  padding-bottom: 250px;

  @include vp-767() {
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 125px;
  }

  @include vp-374() {
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 90px;
  }
}

.form h2 {
  padding-bottom: 15px;

  @include vp-767() {
    padding-bottom: 15px;
  }

  @include vp-374() {
    padding-bottom: 20px;
  }
}

.form p {
  padding-bottom: 35px;

  @include vp-767() {
    padding-bottom: 25px;
  }

  @include vp-374() {
    padding-bottom: 40px;
  }
}

.form__form {
  display: grid;
  max-width: 580px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "user_name phone"
    "text-area text-area"
    "button checkbox";
  column-gap: 30px;
  row-gap: 20px;

  @include vp-374() {
    display: flex;
    flex-direction: column;
  }
}

.form__form label {
  color: $color-basic-white;

  &[data-form="name"] {
    grid-area: user_name;
    max-width: 275px;
  }

  &[data-form="phone"] {
    grid-area: phone;
    max-width: 275px;
  }

  &[data-form="question"] {
    grid-area: text-area;
    min-height: 155px;
    max-width: 580px;
  }

  &[data-form="checkbox"] {
    color: $color-default-white;
    font-size: 14px;
    line-height: 16px;

    grid-area: checkbox;
    max-width: 275px;
  }
}

.form__form input {
  width: 100%;
  padding: 15px;
  background-color: $background-form-transparent;
  border: none;

  font-size: 16px;
  line-height: 21px;
  color: $color-semi-transperent;

  @include vp-374() {
    font-size: 14px;
    line-height: 18px;
  }

  transition: background-color 300ms ease;

  &:hover {
    background-color: rgba(4, 20, 39, 0.25);
  }

  &:focus {
    background-color: rgba(4, 20, 39, 0.25);
    outline: 1px solid $color-semi-transperent;
  }

  &:active {
    background-color: rgba(4, 20, 39, 0.3);
  }
}

.form__form textarea {
  height: 100%;
  width: 100%;
  padding: 25px 15px;
  border: none;
  color: $color-semi-transperent;
  background-color: $background-form-transparent;
  transition: background-color 300ms ease;

  @include vp-374() {
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    background-color: rgba(4, 20, 39, 0.25);
  }

  &:focus {
    background-color: rgba(4, 20, 39, 0.25);
    outline: 1px solid $color-semi-transperent;
  }

  &:active {
    background-color: rgba(4, 20, 39, 0.3);
  }
}

.form__form button {
  grid-area: button;
  height: fit-content;
  max-width: 275px;
  width: calc(100% - 10px);

  @include vp-767() {
    max-width: none;
    width: auto;
  }

  @include vp-374() {
    max-width: none;
    width: 100%;
  }
}
