.intro {
  position: relative;
  padding: 310px 0 245px;
  background: linear-gradient(
      180deg,
      rgba(25, 32, 36, 0.7) 71.72%,
      rgba(25, 32, 36, 0) 100%
    ),
    url("../img/background.webp") no-repeat center,
    $color-default-blue;
  background-size: cover;

  @include vp-1023() {
    margin-top: -15px;
    padding: 92px 0 170px;
  }

  @include vp-767() {
    padding: 70px 0 190px;
  }

  @include retina {
    background: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      url("../img/background@2x.webp") no-repeat center,
      $color-default-blue;
    background-size: cover;
  }
}

.intro h2 {
  margin: 0 0 33px 125px;
  max-width: 730px;

  font-weight: 700;
  font-size: 80px;
  line-height: 93px;
  letter-spacing: 0.07em;

  @include vp-1023() {
    margin: 0;

    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.07em;
  }

  @include vp-767() {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.intro p {
  margin: 0 0 45px 125px;
  max-width: 690px;
  font-size: 22px;
  line-height: 34px;
  color: $color-default-white;

  @include vp-1023() {
    margin: 0 0 55px 0;
  }

  @include vp-767() {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 22px;
  }
}

.intro a {
  margin: 0 0 33px 125px;
  padding: 15px;
  max-width: 410px;
  color: $color-default-white;

  @include vp-1023() {
    margin: 0 0 33px 40px;
  }

  @include vp-767() {
    max-width: 280px;
    margin: 0;
  }
}
