@import "../mixins.scss";

.navigation {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 100px;
  background-image: linear-gradient(
    180deg,
    #041827 84.9%,
    rgba(4, 24, 39, 0) 100%
  );

  @include vp-1023() {
    position: relative;
  }
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  width: 840px;
  column-gap: 135px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include vp-1023() {
    width: fit-content;
    column-gap: 0;
  }

  @include vp-767 {
    column-gap: 25px;
  }
}

a .navigation__logo {
  display: block;
  padding: 35px 0 40px;
}

.navigation__item {
  margin: 0 0 10px 0;

  @include vp-1023() {
    margin: 0 30px 0 0;
    padding: 10px 5px;

    &:last-child {
      display: none;
    }
  }

  @include vp-767() {
    margin: 0 10px 0 0;
  }
}

.navigation__link {
  @include vp-1023() {
    font-size: 0;
  }

  @include vp-1919() {
    font-size: 16px;
  }
}

.navigation__icon {
  @include vp-1023() {
    min-width: 20px;
    min-height: 20px;
  }
}

.navigation__button {
  margin-left: 35px;
  @include vp-1023() {
    display: none;
  }

  @include vp-1439() {
    display: block;
  }
}
