.services {
  background-color: $color-default-black;
}

.services__container {
  padding-top: 70px;
  padding-bottom: 140px;

  @include vp-767() {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @include vp-374() {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

.services__header {
  margin-bottom: 50px;

  @include vp-374() {
    margin-bottom: 40px;
  }
}

.services__list {
  padding: 0;
  margin: 0;
  column-gap: 85px;
  row-gap: 30px;
  list-style-type: none;
  display: flex;

  @include vp-767() {
    flex-direction: column;
  }
}

.services__item {
  position: relative;
  padding: 50px 40px;
  width: 28%;
  min-height: 650px;

  @include vp-767() {
    padding: 40px 45px;
    width: 100%;
    min-height: 250px;
  }

  @include vp-374() {
    width: 100%;
    padding: 30px;
  }

  background: url("../../img/services-background.jpg") no-repeat;
  background-size: 1500px 817px;

  &--first {
    background-position-x: -220px;
    background-position-y: -163px;

    @include vp-767() {
      background-position-y: -500px;
    }
  }

  &--second {
    background-position-x: -560px;
    background-position-y: -163px;

    @include vp-767() {
      background-position-y: -310px;
    }
  }

  &--third {
    background-position-x: -930px;
    background-position-y: -163px;

    @include vp-767() {
      background-position-x: -160px;
      background-position-y: -400px;
    }
  }
}

.services__item-link {
  position: absolute;
  top: calc(100% - 60px);
  left: calc(100% - 60px);
  width: 60px;
  height: 60px;
  padding: 30px;
  color: $color-default-white;
  border-radius: 0;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    $color-cerulean,
    $color-cerulean 50%,
    $color-deep-sky-blue 50%
  );
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;

  @include hover {
    color: $color-default-white;
    background-position: 0 100%;
  }

  @include focus {
    color: $color-default-white;
    outline: 2px solid $color-default-white;
  }

  &:active {
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.services__item-link svg {
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
}
