.text {
  @include vp-374() {
    font-size: 14px;
    line-height: 19px;
  }

  &--footer-white {
    font-size: 16px;
    line-height: 21px;
    color: $color-semi-transperent;

    @include vp-374() {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &--form {
    color: $color-default-white;
  }

  &--checkbox {

  }

  &--modal {
    font-size: 16px;
    line-height: 22px;
    color: $color-basic-white;
  }
}
