.text {
  // margin: 0;
  // padding: 0;
  // font-family: $ff-placeholder;
  // font-size: $fz-default;
  // line-height: 21px;
  // color: $color-default-black;

  // @include vp-374() {
  //   font-size: 14px;
  //   line-height: 19px;
  // }

  &--intro-white {
    font-size: 22px;
    line-height: 34px;
    color: $color-default-white;

    @include vp-374() {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &--footer-white {
    font-size: 16px;
    line-height: 21px;
    color: $color-semi-transperent;

    @include vp-374() {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &--form-white {
    font-size: 16px;
    line-height: 21px;
    color: $color-semi-transperent;

    @include vp-374() {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &--advantages {
    font-size: 16px;
    line-height: 22px;
    color: $color-default-black;
  }

  &--form {
    color: $color-default-white;
  }

  &--checkbox {
    color: $color-default-white;
    font-size: 14px;
    line-height: 16px;
  }

  &--modal {
    font-size: 16px;
    line-height: 22px;
    color: $color-basic-white;
  }
}
